.hot
  position: relative
  padding-left: 0
  padding-bottom: 0

  @media #{$media-sm-plus-up}
    padding-right: 11.8vw

  @media #{$media-md-up}
    padding-bottom: 15rem

  &__picture-cover
    height: 54vh
    object-position: top

    @media #{$media-md-up}
      height: auto


  &__content
    display: flex
    flex-direction: column

    @media #{$media-md-up}
      flex-direction: row

  &__title-wrap
    padding-right: 2rem

    @media #{$media-sm-plus-up}

  &__title
    font-size: 3.5rem
    line-height: 1.1em

    @media #{$media-sm-plus-up}
      font-size: 6rem

  &__more
    &-wrap
      padding-right: 2rem
      margin-top: 3.3rem

      @media #{$media-sm-plus-up}
        padding-left: 9rem

    &-need-block
      background: $color_bg-yellow
      padding: 3rem 2rem 3rem 4rem
      position: static
      margin-left: -7vw

      @media #{$media-sm-up}
        padding: 4rem 30vw 4rem 17rem

      @media #{$media-md-up}
        padding: 4rem 5vw 4rem 17rem
        position: absolute
        bottom: -10rem
        right: 0
        width: 50vw

      @media #{$media-md-plus-up}
        padding: 4rem 15vw 4rem 17rem

    &-need-title
      font-size: 4rem
      line-height: 1em

    &-btn-wrap
      margin: 9rem 5rem 5rem auto
      display: flex
      flex-direction: column
      width: fit-content
      justify-content: center
      align-items: center

      &_desktop
        display: none

        @media #{$media-md-up}
          margin-top: 5rem
          display: flex

      &_mobile
        display: flex
        align-items: flex-start
        width: 100%
        margin: 3rem auto 3rem 3rem

        @media #{$media-md-up}
          display: none

    &-btn-text
      margin: 0

  &__topics
    &-wrap
      display: flex

    &-col
      flex-basis: 50%
      &:nth-child(2)
        display: none
        @media #{$media-md-plus-up}
          display: block

    &-item
    &-text
      display: inline-block
      font-size: 2rem
      line-height: 1.2em
      color: $color_primary

    &-arrow
      display: inline-block
      margin: 0 1rem

  &__order-btn
    padding: 1rem 2.5rem

  &__col
    &:nth-child(2)
      padding-top: 5.4rem
      flex-basis: 100%
      padding-left: 10vw

      @media #{$media-md-up}
        flex-basis: 60%
        padding-top: 10rem

    &:nth-child(1)
      flex-basis: 100%
      padding-left: $padding

      @media #{$media-md-up}
        padding-left: 0
        flex-basis: 50%

      @media #{$media-md-plus-up}
        flex-basis: 40%
