.main
  // min-height: calc(100vh - 20rem)
  padding-right: 0

  @media #{$media-md-plus-up}
    padding-right: 25vw

  &__nav-wrap
    height: 10rem
    display: flex

  &__next-btn
    padding: 1rem 3rem
    margin-right: 1rem

  &__phone
    &-wrap
      display: none

      @media #{$media-md-plus-up}
        display: flex
        align-items: center
        justify-content: flex-end
        margin-right: -16vw
        padding: 3rem 0
        position: relative

    &-number
      font-weight: bold
      font-size: 1.4rem
      line-height: 1.4em
      color: $color_primary
      margin-left: 2rem

    &-arrow
      display: none

      @media #{$media-md-plus-up}
        display: block
        position: absolute
        height: 8.6rem
        left: 11.4vw
        top: -2rem

  &__content
    min-height: calc(100vh - 20rem)
    background: url("/img/block-main/main-img.jpg") no-repeat left top/ auto calc(100vh - 20rem)
    padding: 5rem 0 0 $padding
    position: relative

    @media #{$media-md-plus-up}
      padding: 10rem
      background: url('/img/block-main/main-img.jpg') no-repeat left top / cover

  &__bg-img
    object-fit: cover
    height: calc(100vh - 20rem)
    width: 100%

  &__card-big
    background: $color_bg-yellow
    padding: 3rem
    height: 100%

    @media #{$media-md-plus-up}
      padding: 6.2rem 7.7rem 5rem

    .card-big
      &__title
        position: relative
        width: 100%

        @media #{$media-md-plus-up}
          width: 70%

      &__slash
        position: absolute
        color: $color_accent
        font-family: $font-family-accent
        font-size: 10rem
        line-height: .5em
        left: -9.5rem

  &__card-small
    background: $color_bg-grey-two
    padding: 7.3rem 5rem 5rem 5rem
    top: 13rem
    right: -27rem

    @media #{$media-md-plus-up}
      position: absolute

    .card-small
      &__title
        position: relative
        width: 60%

      &__header
        @media #{$media-md-plus-up}
          &::before
            content: ''
            position: absolute
            top: -1rem
            bottom: -1rem
            left: -5rem
            width: 3px
            transform: rotate(-20deg)
            background: $color_accent

      &__slash
        display: none

        @media #{$media-md-plus-up}
          display: block
          position: absolute
          color: $color_accent
          font-family: $font-family-accent
          font-size: 10rem
          line-height: .5em
          left: -9.5rem

.form__group_main
  justify-content: space-between
  border-bottom: 1px solid #ccc
  padding-top: .9rem

  &-last
    align-items: center
    display: flex
    justify-content: space-between
    padding: 2.6rem 0

.form__accent-text
  color: $color_accent
  font-size: 2.5rem
  font-weight: bold