.footer
  background: $color_bg-grey
  padding: 5rem 13.4vw 0

  @media #{$media-sm-plus-up}
    padding: 5.6rem 12.5rem
    display: flex
    justify-content: space-between
    flex-grow: 1
    flex-shrink: 1

  &__title
    margin-bottom: 1.6rem

    &_contact
      margin-bottom: 3.1rem

    &_about
      margin-bottom: 2.7rem

  &__col
    flex-basis: 33%
    padding: 0 0 5.6rem

    @media #{$media-sm-plus-up}
      padding: 0 5rem

    &:nth-child(2)
      padding: 0 0 3.1rem

  &__list
    &-item
    &-link
      font-size: 1.4rem
      line-height: 2.9em
      color: $color_primary

  &__contact-wrap
    display: flex
    margin: 1rem 0 1.6rem
    align-items: center

  &__form
    &-input
      font-size: 1.4rem
      color: $color_primary
      border: none
      background: transparent
      border-bottom: 1px solid $color_form
      width: 100%
      resize: none
      transition: height .3s
      outline: none
      padding: 2rem 0 1rem

      &::placeholder
        font-size: 1.4rem
        color: $color_primary
        margin: 1rem 0

    &-btn
      margin-top: 1.5rem
      padding: 1rem 2.7rem

    &-textarea
      margin-top: 0
      height: 8rem

  &__links
    font-size: 1.64rem
    line-height: 1.4em
    color: $color_primary
    margin-left: 2rem

  &__mail-img
    width: 1.8rem
