include mixins

.main__nav-wrap
  include navigation
section.container.container_right.main

  .main__content

    .main__card-wrap
      .main__card-big
        .card-big__title
          h1 
            +title('The best students essay writing service from east to west')

        ul.list
          li.list__item Writing your successful essay!
          li.list__item We make your writing dreams come true, bright and sound with our help 24/7!
          li.list__item Get your order in few steps and succeed in a day!
          li.list__item Our company helps you to create first-rate academic writing prepared by our pro essay writers!

        form.form.form_search(action='#')
          .form__group.form__group_main
            input.search-form__input(type='text', placeholder='Enter your topic, keywords, subject, assignment...')
            img.search-form__icon(src="/img/icons/search.svg", alt="search")

      .main__card-small
        .card-small__title
          h4.card-small__header
            +title('Calculate your price')

        form.form(action="#")
          .form__group.form__group_main
            .select-style
              .select-style__text Type of paper:

              +mainSelect('essay', [
                {value: "1", name: "1 Essay"},
                {value: "2", name: "2 Essay"},
                {value: "3", name: "3 Essay"},
                {value: "4", name: "4 Essay"},
              ])

        .form__group.form__group_main
          .select-style
            .select-style__text Academic level :

            +mainSelect('academic-level', [
              {name: '1 Undergraduate', value: '1'}, 
              {name: '2 Undergraduate', value: '2'}, 
              {name: '3 Undergraduate', value: '3'}, 
              {name: '4 Undergraduate', value: '4'}, 
              {name: '5 Undergraduate', value: '5'}
            ])

        .form__group.form__group_main
          .select-style
            .select-style__text Deadline:

            +mainSelect('deadline', [
              {name: '1 days', value: '1'}, 
              {name: '2 days', value: '2'}, 
              {name: '3 days', value: '3'}, 
              {name: '4 days', value: '4'}, 
              {name: '5 days', value: '5'}
            ])

        .form__group.form__group_main
          .select-style
            .select-style__text Pages:

            +mainSelect('pages', [
              {name: '1 page', value: '1'}, 
              {name: '2 page', value: '2'}, 
              {name: '3 page', value: '3'}, 
              {name: '4 page', value: '4'}, 
              {name: '5 page', value: '5'}
            ])

        .form__group.form__group_main-last
          .select-style__text Price: 
            span.form__accent-text $6
          button.main-btn.main-btn_transparent.ml-2.main__next-btn(action="#", type='submit') Next Step

  .main__phone-wrap
    img.main__phone-arrow(src="/img/icons/down-arrow.svg", alt="")
    .round-btn
      img(src="/img/icons/phone.svg", alt="")

    a.main__phone-number(href="tel:#") +8 800 000 00 (24/7)