include mixins

section.container.recent
  .accent-block.accent-block_left
  .recent__content
    .recent__col
      .recent__title-wrap
        h2.recent__title
          +title('F.A.Q')

      .faq__content text
