nav.navbar.container.container_left.container_right
  img.navbar__burger(src="/img/icons/burger.svg", alt="Menu")

  include logo

  ul.menu
    li.menu__item About us
    li.menu__item Our services
    li.menu__item Topics
    li.menu__item Contact
    li.menu__item Prices
    li.menu__item Plagiarism checker

  .search
    img.search__img.mr-1(src="/img/icons/search.svg", alt="Search")

  .menu__btn-wrapp
    a.main-btn.menu__btn(href="#") Order now
    a.main-btn.main-btn_black.menu__btn(href="#") Login
