extends partials/layout

block vars
  - var title = "ESSAYRX"

block content
  include partials/block-main
  include partials/block-recent
  include partials/block-feedback
  include partials/block-hot
  include partials/block-faq
