extends partials/layout
include partials/mixins

block vars
  - 
    var title = "Topics"

    var topicsA = [
      {
        topics: 'Argumentative essay',
      },
      {
        topics: 'Argument Essay Topics',
      },
    ];

    var topicsB = [
      {
        topics: 'B essay',
      },
    ];

    var topicsC = [
      {
        topics: 'Cause and Effect essay',
      },
      {
        topics: 'Common App Essay',
      },
      {
        topics: 'Compare and Contrast',
      },
    ];

    var tabLinks = [
      '#',
      'a',
      'b',
      'c',
      'd',
      'e',
      'f',
      'g',
      'h',
      'i',
      'j',
      'k',
      'l',
      'm',
      'n',
      'o',
      'p',
      'q',
      'r',
      's',
      't',
      'u',
      'v',
      'w',
      'x',
      'y',
      'z'
    ];

block content
  include partials/menu-mobile
  include partials/navigation
  .page
    .page__decor-block

    .page__header
      img.page__header-arrow(src="/img/icons/big-arrow.svg", alt="")
      .page__name Topics

      .page__social-wrap
        .page__social.page__social-fb
          .round-btn.page__btn.page__btn-fb
            img(src="/img/icons/fb.svg", alt="")
          | 25
        .page__social.page__social-twitter
          .round-btn.page__btn.page__btn-twitter
            img(src="/img/icons/twitter.svg", alt="")
          | 54
        .page__social.page__social-telegram
          .round-btn.page__btn.page__btn-telegram
            img(src="/img/icons/telegram.svg", alt="")
          | 36

    h1.page__title
      +title('Hot Topics we can help with')

    .page__content.page__content_right
      .page__col.page__col_right
        h5.page__col_right-title
          +title('Get more than you expect')

        p.page__text Presenting the list of your possible orders, here you can look through catalog oo writing essays and other types of academic papers - these are the most popular works among our clients. 

      .page__col.page__col_right
        .page__image-wrap.page__image-wrap_right
          +picturePng('/img/page/topics', alt='Essay picture')(class='op-top')

    .tab__wrap
      ul.tab
        each tab in tabLinks
          li.tab__links #{tab}

    .tab__content
      each topic in topicsA
        a(href='essay-page.html')
            +topicsItem(topic)(class='tab__content-item')

      each topic in topicsB
        a(href='essay-page.html')
            +topicsItem(topic)(class='tab__content-item')

      each topic in topicsC
        a(href='essay-page.html')
            +topicsItem(topic)(class='tab__content-item')

      each topic in topicsA
        a(href='essay-page.html')
            +topicsItem(topic)(class='tab__content-item')

      each topic in topicsB
        a(href='essay-page.html')
            +topicsItem(topic)(class='tab__content-item')

      each topic in topicsC
        a(href='essay-page.html')
          +topicsItem(topic)(class='tab__content-item')

      each topic in topicsA
        a(href='essay-page.html')
            +topicsItem(topic)(class='tab__content-item')

      each topic in topicsB
        a(href='essay-page.html')
          +topicsItem(topic)(class='tab__content-item')

      each topic in topicsC
        a(href='essay-page.html')
            +topicsItem(topic)(class='tab__content-item')

      each topic in topicsA
        a(href='essay-page.html')
            +topicsItem(topic)(class='tab__content-item')

      each topic in topicsB
        a(href='essay-page.html')
            +topicsItem(topic)(class='tab__content-item')

      each topic in topicsC
        a(href='essay-page.html')
            +topicsItem(topic)(class='tab__content-item')

    .tab__content
        each topic in topicsA
          a(href='essay-page.html')
            +topicsItem(topic)(class='tab__content-item')

    .tab__content
        each topic in topicsB
          a(href='essay-page.html')
            +topicsItem(topic)(class='tab__content-item')

    .tab__content
        each topic in topicsC
          a(href='essay-page.html')
            +topicsItem(topic)(class='tab__content-item')

  .page__need-wrap
    include partials/block-need
